/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Fredericka+the+Great&family=Jacquard+12&family=Pacifico&family=Playwrite+HR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #adb5bd;
    /* background: linear-gradient(to right, #1f0021, #751006); */
    background: #0d1b2a;
}
h1 {
    color: #00b4d8;
}

h1 span {
    color: #fca311;
}


/* Header and Navigation */
header {
    background: #14213d; /* Dark blue background */
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s ease-in-out; /* Transition for scroll behavior */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

header .header-navlinks {
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header .logo {
    margin-left: 3rem;
}

header .logo h1 {
    font-size: 26px;
    font-family: 'Kaushan Script', cursive;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fca311;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
    color: #00f2fe;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #00f2fe;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

nav ul li a:hover::before {
    width: 100%;
}


/* header .nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex: 1;
} */

/* header .nav-links a {
    color: #fca311;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
}

header .nav-links a:hover {
    color: #00f2fe;
}

header .nav-links a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #00f2fe;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

header .nav-links a:hover::before {
    width: 100%;
} */

/* Hamburger Menu for Mobile */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


.hero h1 {
    position: absolute;
    top: 20%;
    font-size: 130px;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.hero img {
    height: 600px;

}

section.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
}

/* Slider Styles */
.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10; /* Ensure it stays on top of other content */
}

.slide-track {
    display: flex;
    width: calc(100% * 3); /* Make sure there is enough space for all slides */
    animation: scroll 60s linear infinite; /* Control speed */
}

.slide-item {
    flex: 1 1 40%; /* Each item takes 25% of the slider width, so 4 items fit */
    box-sizing: border-box;
    padding: 10px;
    background: #fca311;
    color: #0d1b2a;
    text-align: start;
    font-size: 14px;
    border-right: 2px solid #fff; /* Separator between items */
}

.slide-item span {
    margin-left: 40px;
}

.slide-item.arrow-up i {
    background-color: #138808;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
}

.slide-item.arrow-down i{
    background-color: #CE2029;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
}
/* socials */
.socials-container {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1000;
}

.socials-container .socials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.socials a {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    padding: 15px 20px;
    border: 1px solid #00b4d8;
    border-radius: 50%;
    text-decoration: none;
    color: #fca311;
}

.socials a:hover {
    background-color: #fca311;
    color: #fff;
    transition: 2s;

}

/* Animation for smooth sliding */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* search-bar */
#search-bar {
    font-size: 14px;
    padding: 12px;
    border: 1px solid #fca311;;
    border-radius: 25px;
    width: 230px;
    background: transparent;
    color: #fca311;
}

#search-bar:focus, #search-bar.selected {
    outline: none;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 225, 255, 0.795); /* Glaring bluish shadow on hover or select */
}

#search-results {
    position: absolute;
    /* border: 1px solid #00b4d8; */
    /* border: none; */
    max-height: 200px;
    overflow-y: auto;
    width: 223px;
    z-index: 1000;
    margin-left: 15px;
    border-radius: 6px;
    color: #fca311;
    background-color: #14213d;
}


.search-result-item {
    padding: 5px;
    cursor: pointer;
    text-align: start;
    border-bottom: 1px solid #00b4d8;
}


/* #search-results div:last-child {
    border-bottom: none;
} */

.search-result-item:hover, .highlighted {
    background-color: #fca311;
    color: #f0f0f0;
}

.hidden {
    display: none;
}

.hamburger, .search-icon {
    display: none;
}

@media (max-width: 375px)and (orientation: portrait){
    /* Header and Navigation */
    header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        display: none;
    }

    .hamburger {
        display: block;
    }

    /* Hide the menu by default */
    .nav-menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        width: 250px;
        background-color: #14213d;
        text-align: center;
        padding: 10px;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    /* Show the menu when active */
    .nav-menu.active {
        display: block;
        transform: translateX(0);
        animation: slideIn 0.5s ease-out forwards;
    }

    /* Menu Links */
    .nav-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .nav-menu ul li {
        padding: 10px 20px 10px 0;
    }

    .nav-menu ul li a {
        color: #fca311;
        text-decoration: none;
        font-size: 18px;
    }

    /* Slide-in animation for the menu */
    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    /* Fun Bounce animation for the hamburger icon */
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }

    }

    .search {
        float: right;
    }
    
    .footer h1 {
        /* margin: 0; */
        font-family: "Jacquard 12", system-ui;
        font-weight: 400;
        font-style: normal;
        color: #00b4d8;
        font-size: 24px;
        z-index: 1;
        margin-inline: 5px;
    }

    .hero h1 {
        position: absolute;
        top: 13%;
        font-size: 45px;
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
    .hero img {
        max-width: 100%;
        height: auto;
        top: 33%;
        position: absolute;
    
    }
    .socials-container {
        position: fixed;
        margin-inline: 17px;
        top: 80%;
        /* right: 10px; */
        transform: translateY(-50%);
        z-index: 1000;
    }
    
    .socials-container .socials {
        display: flex;
        /* flex-direction: column; */
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .socials a {
        top: 30%;
        display: block;
        margin: 10px 0;
        font-size: 15px;
        margin-inline: 10px;
        padding: 15px 20px;
        border: 1px solid #00b4d8;
        border-radius: 50%;
        text-decoration: none;
        color: #fca311;
        position: relative;
    }
    .slider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 10; /* Ensure it stays on top of other content */
    }
    
    .slide-track {
        display: flex;
        width: calc(100% * 20); /* Make sure there is enough space for all slides */
        animation: scroll 60s linear infinite; /* Control speed */
    }
    
    .slide-item {
        flex: 1 1 40%; /* Each item takes 25% of the slider width, so 4 items fit */
        box-sizing: border-box;
        padding: 10px;
        background: #fca311;
        color: #0d1b2a;
        text-align: start;
        font-size: 14px;
        border-right: 2px solid #fff; /* Separator between items */
    }
    
    .slide-item span {
        margin-left: 40px;
    }

}
@media (min-width: 376px) and (max-width: 600px) and (orientation: portrait){
    /* Header and Navigation */
    header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        display: none;
    }

    .hamburger {
        display: block;
    }

    /* Hide the menu by default */
    .nav-menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        width: 250px;
        background-color: #14213d;
        text-align: center;
        padding: 10px;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    /* Show the menu when active */
    .nav-menu.active {
        display: block;
        transform: translateX(0);
        animation: slideIn 0.5s ease-out forwards;
    }

    /* Menu Links */
    .nav-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .nav-menu ul li {
        padding: 10px 20px 10px 0;
    }

    .nav-menu ul li a {
        color: #fca311;
        text-decoration: none;
        font-size: 18px;
    }

    /* Slide-in animation for the menu */
    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    /* Fun Bounce animation for the hamburger icon */
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }

    }

    .search {
        float: right;
    }

    .footer h1 {
        /* margin: 0; */
        font-family: "Jacquard 12", system-ui;
        font-weight: 400;
        font-style: normal;
        color: #00b4d8;
        font-size: 24px;
        z-index: 1;
        margin-inline: 5px;
    }
    .hero h1 {
        position: absolute;
        top: 10%;
        font-size: 45px;
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;
        margin-block: 20px;
    }

    
    .hero img {
        max-width: 100%;
        height: auto;
        top: 20%;
        position: absolute;
    
    }
    .socials-container {
        /* position: fixed; */
        /* margin-inline: 27px; */
        /* right: 52px; */
        top: 80%;
        /* right: 10px; */
        transform: translateX(-10%);
        /* right: 100%; */
        /* align-items: center; */
        /* z-index: 1000; */
    }
    
    .socials-container .socials {
        display: flex;
        /* flex-direction: column; */
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .socials a {
        display: block;
        margin: 10px 0;
        font-size: 15px;
        margin-inline: 10px;
        padding: 15px 20px;
        border: 1px solid #00b4d8;
        border-radius: 50%;
        text-decoration: none;
        color: #fca311;
        /* position: relative; */
    }
    .slider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 10; /* Ensure it stays on top of other content */
    }
    
    .slide-track {
        display: flex;
        width: calc(100% * 20); /* Make sure there is enough space for all slides */
        animation: scroll 60s linear infinite; /* Control speed */
    }
    
    .slide-item {
        flex: 1 1 40%; /* Each item takes 25% of the slider width, so 4 items fit */
        box-sizing: border-box;
        padding: 10px;
        background: #fca311;
        color: #0d1b2a;
        text-align: start;
        font-size: 14px;
        border-right: 2px solid #fff; /* Separator between items */
    }
    
    .slide-item span {
        margin-left: 40px;
    }
}

@media (min-width: 601px) and (max-width: 750px) and (orientation: portrait){
    /* Header and Navigation */
    header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        display: none;
    }

    .hamburger {
        display: block;
    }

    /* Hide the menu by default */
    .nav-menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        width: 250px;
        background-color: #14213d;
        text-align: center;
        padding: 10px;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    /* Show the menu when active */
    .nav-menu.active {
        display: block;
        transform: translateX(0);
        animation: slideIn 0.5s ease-out forwards;
    }

    /* Menu Links */
    .nav-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .nav-menu ul li {
        padding: 10px 20px 10px 0;
    }

    .nav-menu ul li a {
        color: #fca311;
        text-decoration: none;
        font-size: 18px;
    }

    /* Slide-in animation for the menu */
    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    /* Fun Bounce animation for the hamburger icon */
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }

    }

    .search {
        float: right;
    }

    .hero h1 {
        position: absolute;
        top: 13%;
        font-size: 45px;
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
    .hero img {
        max-width: 100%;
        height: auto;
        top: 33%;
        position: absolute;
    
    }
    .socials-container {
        position: fixed;
        /* margin-inline: 27px; */
        right: 52px;
        top: 80%;
        /* right: 10px; */
        transform: translateY(-50%);
        z-index: 1000;
    }
    
    .socials-container .socials {
        display: flex;
        /* flex-direction: column; */
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .socials a {
        top: 30%;
        display: block;
        margin: 10px 0;
        font-size: 15px;
        margin-inline: 10px;
        padding: 15px 20px;
        border: 1px solid #00b4d8;
        border-radius: 50%;
        text-decoration: none;
        color: #fca311;
        position: relative;
    }
    .slider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 10; /* Ensure it stays on top of other content */
    }
    
    .slide-track {
        display: flex;
        width: calc(100% * 20); /* Make sure there is enough space for all slides */
        animation: scroll 60s linear infinite; /* Control speed */
    }
    
    .slide-item {
        flex: 1 1 40%; /* Each item takes 25% of the slider width, so 4 items fit */
        box-sizing: border-box;
        padding: 10px;
        background: #fca311;
        color: #0d1b2a;
        text-align: start;
        font-size: 14px;
        border-right: 2px solid #fff; /* Separator between items */
    }
    
    .slide-item span {
        margin-left: 40px;
    }
}

@media (min-width: 751px) and (max-width: 900px) and (orientation: portrait){
    /* Header and Navigation */
    header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        display: none;
    }

    .hamburger {
        display: block;
    }

    /* Hide the menu by default */
    .nav-menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        width: 250px;
        background-color: #14213d;
        text-align: center;
        padding: 10px;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    /* Show the menu when active */
    .nav-menu.active {
        display: block;
        transform: translateX(0);
        animation: slideIn 0.5s ease-out forwards;
    }

    /* Menu Links */
    .nav-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .nav-menu ul li {
        padding: 10px 20px 10px 0;
    }

    .nav-menu ul li a {
        color: #fca311;
        text-decoration: none;
        font-size: 18px;
    }

    /* Slide-in animation for the menu */
    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    /* Fun Bounce animation for the hamburger icon */
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }

    }
    .search {
        float: right;
    }

    .hero h1 {
        position: absolute;
        top: 8%;
        font-size: 97px;
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
    .hero img {
        max-width: 100%;
        height: auto;
        top: 33%;
        position: absolute;
    
    }
    .socials-container {
        position: fixed;
        /* margin-inline: 27px; */
        right: 110px;
        top: 80%;
        /* right: 10px; */
        transform: translateY(-50%);
        z-index: 1000;
    }
    
    .socials-container .socials {
        display: flex;
        /* flex-direction: column; */
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .socials a {
        top: 30%;
        display: block;
        margin: 10px 0;
        font-size: 25px;
        margin-inline: 30px;
        padding: 25px 30px;
        border: 1px solid #00b4d8;
        border-radius: 50%;
        text-decoration: none;
        color: #fca311;
        position: relative;
    }
    .slider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 10; /* Ensure it stays on top of other content */
    }
    
    .slide-track {
        display: flex;
        width: calc(100% * 10); /* Make sure there is enough space for all slides */
        animation: scroll 60s linear infinite; /* Control speed */
    }
    
    .slide-item {
        flex: 1 1 40%; /* Each item takes 25% of the slider width, so 4 items fit */
        box-sizing: border-box;
        padding: 10px;
        background: #fca311;
        color: #0d1b2a;
        text-align: start;
        font-size: 14px;
        border-right: 2px solid #fff; /* Separator between items */
    }
    
    .slide-item span {
        margin-left: 40px;
    }
}

@media (min-width: 901px) and (max-width: 1024px) and (orientation: portrait){
    header {
        padding: 20px 7rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        margin-right: 0%;
        padding-inline: 5px;
    }

    header h1, .footer h1 {
        /* margin: 0; */
        font-family: "Jacquard 12", system-ui;
        font-weight: 400;
        font-style: normal;
        color: #00b4d8;
        font-size: 29px;
        z-index: 1;
        margin-inline: 5px;
    }

    .hero h1 {
        position: absolute;
        top: 5%;
        font-size: 8rem;
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
    .hero img {
        max-width: 100%;
        /* height: auto; */
        height: 600px;
        top: 30%;
        position: absolute;
    }
}

@media (min-width: 901px) and (max-width: 1024px) and (orientation: landscape){
    /* Header and Navigation */
    header {
        padding: 20px 7rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        margin-right: 0%;
        padding-inline: 5px;
    }
    header h1, .footer h1 {
        /* margin: 0; */
        font-family: "Jacquard 12", system-ui;
        font-weight: 400;
        font-style: normal;
        color: #00b4d8;
        font-size: 29px;
        z-index: 1;
        margin-inline: 5px;
    }
    .hero h1 {
        position: absolute;
        top: 30%;
        font-size: 70px;
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
    .hero img {
        max-width: 100%;
        /* height: auto; */
        height: 250px;
        top: 30%;
        position: absolute;
    }

    .socials-container {
        position: fixed;
        /* margin-inline: 27px; */
        right: 20px;
        top: 50%;
        /* right: 10px; */
        transform: translateY(-50%);
        z-index: 1000;
    }
    
    .socials-container .socials {
        display: flex;
        /* flex-direction: column; */
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .socials a {
        top: 30%;
        display: block;
        margin: 10px 0;
        font-size: 10px;
        margin-inline: 30px;
        padding: 5px 10px;
        border: 1px solid #00b4d8;
        border-radius: 50%;
        text-decoration: none;
        color: #fca311;
        position: relative;
    }
    .slider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 10; /* Ensure it stays on top of other content */
    }
    
    .slide-track {
        display: flex;
        width: calc(100% * 30); /* Make sure there is enough space for all slides */
        animation: scroll 60s linear infinite; /* Control speed */
    }
    
    .slide-item {
        flex: 1 1 40%; /* Each item takes 25% of the slider width, so 4 items fit */
        box-sizing: border-box;
        padding: 10px;
        background: #fca311;
        color: #0d1b2a;
        text-align: start;
        font-size: 14px;
        border-right: 2px solid #fff; /* Separator between items */
    }
    
    .slide-item span {
        margin-left: 40px;
    }
}
@media (min-width: 761px) and (max-width: 900px) and (orientation: landscape){
    /* Header and Navigation */
    header {
        padding: 20px 7rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        margin-right: 0%;
        padding-inline: 5px;
    }
    header h1, .footer h1 {
        /* margin: 0; */
        font-family: "Jacquard 12", system-ui;
        font-weight: 400;
        font-style: normal;
        color: #00b4d8;
        font-size: 29px;
        z-index: 1;
        margin-inline: 5px;
    }
    .hero h1 {
        position: absolute;
        top: 17%;
        font-size: 70px;
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
    .hero img {
        max-width: 100%;
        /* height: auto; */
        height: 270px;
        top: 19%;
        position: absolute;
    }
    .socials-container {
        position: fixed;
        /* margin-inline: 27px; */
        right: 20px;
        top: 50%;
        /* right: 10px; */
        transform: translateY(-50%);
        z-index: 1000;
    }
    
    .socials-container .socials {
        display: flex;
        /* flex-direction: column; */
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .socials a {
        top: 30%;
        display: block;
        margin: 10px 0;
        font-size: 10px;
        margin-inline: 30px;
        padding: 10px 15px;
        border: 1px solid #00b4d8;
        border-radius: 50%;
        text-decoration: none;
        color: #fca311;
        position: relative;
    }
    .slider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 10; /* Ensure it stays on top of other content */
    }
    
    .slide-track {
        display: flex;
        width: calc(100% * 10); /* Make sure there is enough space for all slides */
        animation: scroll 60s linear infinite; /* Control speed */
    }
    
    .slide-item {
        flex: 1 1 40%; /* Each item takes 25% of the slider width, so 4 items fit */
        box-sizing: border-box;
        padding: 10px;
        background: #fca311;
        color: #0d1b2a;
        text-align: start;
        font-size: 14px;
        border-right: 2px solid #fff; /* Separator between items */
    }
    
    .slide-item span {
        margin-left: 40px;
    }
}
@media (min-width: 751px) and (max-width: 760px) and (orientation: landscape){
    /* Header and Navigation */
    header {
        padding: 20px 4rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        margin-right: 0%;
    }
    header h1, .footer h1 {
        /* margin: 0; */
        font-family: "Jacquard 12", system-ui;
        font-weight: 400;
        font-style: normal;
        color: #00b4d8;
        font-size: 29px;
        z-index: 1;
        margin-inline: 5px;
    }
    .hero h1 {
        position: absolute;
        top: 20%;
        font-size: 60px;
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
    .hero img {
        max-width: 100%;
        /* height: auto; */
        height: 225px;
        top: 21%;
        position: absolute;
    }
    .socials-container {
        position: fixed;
        /* margin-inline: 27px; */
        right: 20px;
        top: 50%;
        /* right: 10px; */
        transform: translateY(-50%);
        z-index: 1000;
    }
    
    .socials-container .socials {
        display: flex;
        /* flex-direction: column; */
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .socials a {
        top: 30%;
        display: block;
        margin: 10px 0;
        font-size: 10px;
        margin-inline: 30px;
        padding: 8px 13px;
        border: 1px solid #00b4d8;
        border-radius: 50%;
        text-decoration: none;
        color: #fca311;
        position: relative;
    }
    .slider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 10; /* Ensure it stays on top of other content */
    }
    
    .slide-track {
        display: flex;
        width: calc(100% * 10); /* Make sure there is enough space for all slides */
        animation: scroll 60s linear infinite; /* Control speed */
    }
    
    .slide-item {
        flex: 1 1 40%; /* Each item takes 25% of the slider width, so 4 items fit */
        box-sizing: border-box;
        padding: 10px;
        background: #fca311;
        color: #0d1b2a;
        text-align: start;
        font-size: 14px;
        border-right: 2px solid #fff; /* Separator between items */
    }
    
    .slide-item span {
        margin-left: 40px;
    }
}
@media (max-width: 750px) and (orientation: landscape){
    /* Header and Navigation */
    header {
        padding: 20px 4rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        margin-right: 0%;
    }
    header h1, .footer h1 {
        /* margin: 0; */
        font-family: "Jacquard 12", system-ui;
        font-weight: 400;
        font-style: normal;
        color: #00b4d8;
        font-size: 29px;
        z-index: 1;
        margin-inline: 5px;
    }
    .hero h1 {
        position: absolute;
        top: 20%;
        font-size: 60px;
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
    .hero img {
        max-width: 100%;
        /* height: auto; */
        height: 225px;
        top: 21%;
        position: absolute;
    }
    .socials-container {
        position: fixed;
        /* margin-inline: 27px; */
        right: 7px;
        top: 50%;
        /* right: 10px; */
        transform: translateY(-50%);
        z-index: 1000;
    }
    
    .socials-container .socials {
        display: flex;
        /* flex-direction: column; */
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .socials a {
        top: 30%;
        display: block;
        margin: 10px 0;
        font-size: 10px;
        margin-inline: 30px;
        padding: 8px 13px;
        border: 1px solid #00b4d8;
        border-radius: 50%;
        text-decoration: none;
        color: #fca311;
        position: relative;
    }
    .slider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 10; /* Ensure it stays on top of other content */
    }
    
    .slide-track {
        display: flex;
        width: calc(100% * 10); /* Make sure there is enough space for all slides */
        animation: scroll 60s linear infinite; /* Control speed */
    }
    
    .slide-item {
        flex: 1 1 40%; /* Each item takes 25% of the slider width, so 4 items fit */
        box-sizing: border-box;
        padding: 10px;
        background: #fca311;
        color: #0d1b2a;
        text-align: start;
        font-size: 14px;
        border-right: 2px solid #fff; /* Separator between items */
    }
    
    .slide-item span {
        margin-left: 40px;
    }
}