/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Fredericka+the+Great&family=Jacquard+12&family=Pacifico&family=Playwrite+HR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #adb5bd;
    /* background: linear-gradient(to right, #1f0021, #751006); */
    background: #0d1b2a;
}
h1 {
    color: #00b4d8;
}

h1 span {
    color: #fca311;
}

/* Header and Navigation */
header {
    background: #14213d; /* Dark blue background */
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s ease-in-out; /* Transition for scroll behavior */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

header .header-navlinks {
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
header .logo {
    margin-left: 3rem;
}

/* header nav {
    margin-right: 7rem;
} */

header .logo h1, .footer h1 {
    font-size: 26px;
    font-family: 'Kaushan Script', cursive;
}

.footer i {
    font-size: 55px;
    padding-inline: 5px;
}

.footer i:hover {
    color: #fca311;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fca311;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
    color: #00f2fe;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #00f2fe;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

nav ul li a:hover::before {
    width: 100%;
}

/* Hamburger Menu for Mobile */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

section.map-container {
    margin-bottom: 3rem;
}

#map {
    width: 100%;
    height: 600px;
}


.hero h1 {
    position: absolute;
    top: 20%;
    font-size: 130px;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.hero img {
    height: 600px;

}

section.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

/* Slider Styles */
.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10; /* Ensure it stays on top of other content */
}

.slide-track {
    display: flex;
    width: calc(100% * 3); /* Make sure there is enough space for all slides */
    animation: scroll 60s linear infinite; /* Control speed */
}

.slide-item {
    flex: 1 1 40%; /* Each item takes 25% of the slider width, so 4 items fit */
    box-sizing: border-box;
    padding: 10px;
    background: #fca311;
    color: #0d1b2a;
    text-align: start;
    font-size: 14px;
    border-right: 2px solid #fff; /* Separator between items */
}

.slide-item span {
    margin-left: 40px;
}

.slide-item.arrow-up i {
    background-color: #138808;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
}

.slide-item.arrow-down i{
    background-color: #CE2029;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
}
/* socials */
.socials-container {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1000;
}

.socials-container .socials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer p:last-child {
    padding-right: 3rem;
}

.socials a {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    padding: 15px 20px;
    border: 1px solid #00b4d8;
    border-radius: 50%;
    text-decoration: none;
    color: #fca311;
}

.socials a:hover {
    background-color: #fca311;
    color: #fff;
    transition: 2s;

}

/* Animation for smooth sliding */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.footer {
    padding: 20px 0;
    background: #14213d;
    color: #adb5bd;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer h1 {
    margin-left: 3rem;
}

.footer a i {
    font-size: 18px;
    color: #adb5bd;
}
/* Main Content */
main {
    padding: 20px;
    max-width: 1200px;
}

/* Cards for Artists */
#artists-container, #locations-container, #dates-container, #relations-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

#artists-container a {
    text-decoration: none;
    list-style: none;
}

/* card 1 example */
.card {
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 280px;  /* Default width increased by 40px */
    height: 280px; /* Default height increased by 40px */
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.card-img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding-block: 10px;
    text-align: center;
}

.card-overlay h3 {
    color: #fca311;
}

.card:hover, .card.selected {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 225, 255, 0.795); /* Glaring bluish shadow on hover or select */
}

.card:focus, .card.selected {
    outline: none;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 225, 255, 0.795); /* Glaring bluish shadow on hover or select */
}


.card h3:hover {
    transform: scale(1.1);
    color: rgba(0, 225, 255, 0.795);
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 0;
}

#content h2 {
    font-size: 45px;
    color: #00b4d8;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

#content span {
    color: #adb5bd;
    font-size: 26px;
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}

#content .call-to-action {
    margin-top: 50px;
}

#content .call-to-action a{
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    letter-spacing: .6em;
    text-transform: capitalize;
    background-color: #778da9;
}

#content .call-to-action a:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    transition: 2s;
}

.err-msg p {
    color: #adb5bd;
    font-size: 25px;
}

.hero-banner {
    margin-top: 7rem;
    background: url('/static/images/artist_detail_banner.png');
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist-details {
    color: #fca311;
    text-align: center;
    /* position: relative; */
    z-index: 2;
    margin-top: 2rem;
}

.artist-details h1 {
    font-family: "Rock Salt", cursive;
    color: #00b4d8;
    padding-block: 0px;
}

.artist-details img {
    border-radius: 50%;
    /* margin-bottom: 15px; */
    width: 150px;
    height: 150px;
}

.artist-details span {
    color: #00b4d8;
    font-weight: bold;
}


.artist-name {
    font-size: 2rem;
    margin: 10px 0;
}

.artist-bio {
    margin:3rem 7rem;
    padding: 20px;
    background-color: #fca311;
    color: #0d1b2a;
    border-radius: 8px;
    /* z-index: 2; */
}

.artist-bio h2, .members h2, .tour-dates-locations-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #006d83;
}

.album-container, .tour-dates-locations-container, section.relations {
    width: auto;
    padding: 20px;
    background-color: #fca311;
    margin: 3rem 7rem;
    border-radius: 8px;
    color: #0d1b2a;
    /* border-top: 1px solid #ddd; */
}

section.relations {
    padding-bottom: 4rem;
}

.album-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.albums-members h2 {
    text-align: center;
    color: #006d83;
}


.tour-dates-locations {
    display: flex;
    justify-content: space-evenly;
}

.tour-dates ul, .locations ul {
    padding: 0;
}

.tour-dates ul li, .locations ul li {
    background-color: #0d1b2a;
    color: #00b4d8;
    padding: 10px;
    border-radius: 8px;
    margin-block: 3px;
    list-style: none;
    cursor: pointer;
    border: 1px solid #00b4d8;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.locations ul li {
    color: #fca311;
}

.tour-dates ul li:hover, .locations ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 225, 255, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.album-container .albums, .album-container .members, .tour-dates-locations .tour-dates, .tour-dates-locations .locations {
    flex: 1;
    padding-inline: 10px;
}

.albums-members p {
    color: #0d1b2a;
    text-align: center;
}

.album-container h2 {
    margin-block: 10px;
}

.albums-members span {
    color: #006d83;
    font-weight: bold;
}

/* .albums, .members {
    padding-block: 0;
} */

/* Relations Section */
.relations h2 {
    color: #006d83;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Relations Cards */
.relations-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.relation-card {
    background-color: #0d1b2a;
    border: 1px solid #00b4d8;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #fca311;
}

/* .relation-card h3 {
    font-size: .9rem;
} */

.relation-card p {
    color: #00b4d8;
}

.relation-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 225, 255, 0.8);
}

/* Inner layout: Dates and Locations split into 50% width */
.relation-card-inner {
    display: flex;
    justify-content: space-between;
}

.relation-date, .relation-locations {
    flex: 1;
    padding: 10px 2px;
    width: 50%;
    box-sizing: border-box;
}

.relation-date h3 {
    margin: 0;
    font-size: .9rem;
    color: #fca311;
}

.relation-locations p {
    margin: 0;
    font-size: .8rem;
    color: #00b4d8;
}

/* Equal width for both date and locations */
.relation-date, .relation-locations {
    text-align: center;
}

.call-to-action-btn {
    margin-top: 30px;
    text-align: center;
}

.call-to-action-btn a {
    padding: 15px 20px;
    text-decoration: none;
    color: #0d1b2a;
    border-radius: 25px;
    letter-spacing: .6em;
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid #0d1b2a;
    transition: 2s;
}

.call-to-action-btn a:hover {
    border: 2px solid #fca311;
    background-color: #0d1b2a;
    transition: 2s;
    color: #fff;
}

/* search-bar */
#search-bar {
    font-size: 14px;
    padding: 12px;
    border: 1px solid #fca311;;
    border-radius: 25px;
    width: 230px;
    background: transparent;
    color: #fca311;
}
#search-bar:focus, #search-bar.selected {
    outline: none;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 225, 255, 0.795); /* Glaring bluish shadow on hover or select */
}

#search-results {
    position: absolute;
    /* border: 1px solid #00b4d8; */
    border: none;
    max-height: 200px;
    overflow-y: auto;
    width: 223px;
    z-index: 1000;
    margin-left: 15px;
    border-radius: 6px;
    color: #fca311;
    background-color: #14213d;
}

.search-result-item {
    padding: 5px;
    cursor: pointer;
    text-align: start;
    border-bottom: 1px solid #00b4d8;
}


#search-results div:last-child {
    border-bottom: none;
}

.search-result-item:hover, .highlighted {
    background-color: #fca311;
    color: #f0f0f0;
}

.call-to-action-err-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-to-action-err-btn a {
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    letter-spacing: .6em;
    text-transform: capitalize;
    background-color: #778da9;
}
    
.call-to-action-err-btn a:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    transition: 2s;
}

.hamburger, .search-icon {
    display: none;
}

section.map-container {
    margin-inline: 7rem;
}

.map-container h2 {
    color: #00b4d8;
    text-align: center;
}


/* pagination */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination-button {
    display: inline-block;
    padding: 7px 12px;
    margin: 0 5px;
    background-color: #00b4d8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 13px;
}

.pagination-button:hover {
    background-color: #0288d1;
}

.pagination-button.disabled {
    display: none;
}


span.page-indicator {
    display: inline-block;
    font-weight: bold;
    color: #fca311;
    font-size: 16px;
}


/* Responsive Design */
@media (min-width: 769px) and (max-width: 1200px) {
    .footer {
        padding-inline: 2rem;

    }

    header {
        height: 50px;
    }

    header nav {
        display: none;
    }

    .hamburger {
        display: block;
        margin-left: 2rem;
    }

    header .logo {
        display: none;
    }

    /* Hide the menu by default */
    .nav-menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        width: 250px;
        background-color: #14213d;
        text-align: center;
        padding: 10px;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    /* Show the menu when active */
    .nav-menu.active {
        display: block;
        transform: translateX(0);
        animation: slideIn 0.5s ease-out forwards;
    }

    /* Menu Links */
    .nav-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .nav-menu ul li {
        padding: 10px 20px 10px 0;
    }

    .nav-menu ul li a {
        color: #fca311;
        text-decoration: none;
        font-size: 18px;
    }

    /* Slide-in animation for the menu */
    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    /* Fun Bounce animation for the hamburger icon */
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }

    }

    section.artist-bio, section.map-container, .tour-dates-locations-container, .album-container, section.relations {
        margin-inline: 2rem;
    }

    section.map-container  {
        height: 500px;
    }

    #map {
        max-height: 450px;
    }

    #search-bar {
        margin-right: 0;
    }

    .footer .footer h1, .footer p {
        padding-block: 0;
        margin-block: 0;
    }
}
    

@media (min-width: 600px) and (max-width: 768px) {

    .card, .location, .date, .relation {
        flex: 1 1 calc(50% - 20px);
    }

    header {
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
    }

    header .logo {
        display: none;
    }

    .hamburger {
        display: block;
        margin-left: 0;
    }

    /* Hide the menu by default */
    .nav-menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        width: 350px;
        background-color: #14213d;
        text-align: center;
        padding: 10px;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    /* Show the menu when active */
    .nav-menu.active {
        display: block;
        transform: translateX(0);
        animation: slideIn 0.5s ease-out forwards;
    }

    /* Menu Links */
    .nav-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .nav-menu ul li {
        padding: 10px 20px 10px 0;
    }

    .nav-menu ul li a {
        color: #fca311;
        text-decoration: none;
        font-size: 18px;
    }

    /* Slide-in animation for the menu */
    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    /* Fun Bounce animation for the hamburger icon */
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }

    }
    .hero-container {
        background-size: 100%;
        height: fit-content;
    }

    .hero-container h2 {
        display: none;
    }

    .hero-container .call-to-action {
        margin-block: 20px;
    }

    .hero-container span, .call-to-action {
        margin-inline: 30px;
    }

    .hero-container span {
        font-size: 24px;
    }

    .hero-container .call-to-action a {
        font-size: .6em;
    }

    .artist-bio, section.map-container, .album-container, section.tour-dates-locations-container, section.relations {
        margin-inline: 2rem;
    }

    section.map-container {
        height: 400px;
    }

    #map {
        max-height: 350px;
    }

    .footer {
        padding-inline: 1.5rem;
    }
    .footer .footer h1, .footer p {
        padding-block: 0;
        margin-block: 0;
    }
}

/* Styles for mobile screens */
@media (max-width: 599px) {
    body {
        height: 100vh;
    }

    p {
        font-size: 13px;
    }

    /* .header-navlinks {
        margin-right: 2rem;
    } */

    header {
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
    }

    header .logo {
        display: none;
    }

    
    .hamburger {
        display: block;
    }

    /* Hide the menu by default */
    .nav-menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        width: 250px;
        background-color: #14213d;
        text-align: center;
        padding: 10px;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    /* Show the menu when active */
    .nav-menu.active {
        display: block;
        transform: translateX(0);
        animation: slideIn 0.5s ease-out forwards;
    }

    /* Menu Links */
    .nav-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .nav-menu ul li {
        padding: 10px 20px 10px 0;
    }

    .nav-menu ul li a {
        color: #fca311;
        text-decoration: none;
        font-size: 18px;
    }

    /* Slide-in animation for the menu */
    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    /* Fun Bounce animation for the hamburger icon */
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }

    }
   
    .hero-container h2 {
        font-size: 22px;
    }


    section.hero {
        margin-top: 45%;
    }

    section.hero img {
        width: 100%;
        height: 300px;
    }

    section.hero h1 {
        font-size: 45px;
        top: 10%;
    }

    .socials-container {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        right: auto;
    }

    .socials-container .socials {
        position: relative;
        flex-direction: row;
    }
    
    .socials a {
        margin: 10px;
        font-size: 15px;
        padding: 12px 17px;
    }
 
    section.billboard {
        /* position: relative; Ensure it positions relative to the body */
        margin: 0; /* Remove any margin */
        padding: 0; /* Remove any padding */
    }
     
    /* Slider Styles */
    .slider {
        /* position: relative; */
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
    }
    
    /* Adjust the slide track to avoid overflow and spacing issues */
    .slide-track {
        width: calc(100% * 1); /* Make sure there is enough space for all slides */
        animation: scroll 10s linear infinite; /* Control speed */
        margin: 0; /* Remove margin */
        padding: 0; /* Remove padding */
    }
    
    /* Adjust the individual slide items to prevent unnecessary spacing */
    .slide-item {
        flex: 0 0 100%; /* Each item takes 40% of the slider width */
        box-sizing: border-box;
        padding: 10px;
    }

    .artist-bio {
        max-width: 100%;
        /* margin: .5rem; */
    }

    section.artist-bio, section.map-container, .tour-dates-locations-container, .album-container, section.relations {
        margin-inline: .5rem;
    }

    section.map-container {
        height: 400px;
    }

    #map {
        max-height: 350px;
    }

    .footer {
        max-width: 100%;
        margin: 0 auto;
        flex-direction: column;
        padding-inline: 0;
        bottom: 0;
    }

    #artists-container {
        width: 100%;
        gap: 0;
    }
    .card, .location, .date, .relation {
        flex: 1 1 100%;
    }

    .card {
        margin: 10px auto;
        width: 90%;
        /* margin: 0; */
    }

    #artists-container a {
        width: 100%;
    }

    #content h2 {
        font-size: 30px;
        margin-block: 10px;
    }

     .albums-members {
        flex-direction: column;
    }

    .members h2, .members p, .tour-dates h2, .locations h2 {
        text-align: center;
    }
    .tour-dates, .locations {
        width: 45%;
    }

    .tour-dates ul, .locations ul {
        padding-left: 15px;
    }

    .tour-dates li, .locations li {
        font-size: 13px;
    }

    section.tour-dates-locations-container {
        padding-inline: 0px;
    }

    .relations h2 {
        text-align: center;
    }

    .relations td {
        font-size: 13px;
        width: 45%;
    }

    .relations .call-to-action-btn a {
        font-size: 14px;
        letter-spacing: .3em;
    }
    .artist-details h1 {
        font-size: 20px;
        margin-block: 5px;
    }
    .footer .footer h1, .footer p {
        padding-block: 0;
        margin-block: 0;
    }
}

@media (max-width: 344px) {
    header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
    }
   
    .hamburger {
        display: block;
        margin-left: 0;
    }

    /* Hide the menu by default */
    .nav-menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        width: 250px;
        background-color: #14213d;
        text-align: center;
        padding: 10px;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    /* Show the menu when active */
    .nav-menu.active {
        display: block;
        transform: translateX(0);
        animation: slideIn 0.5s ease-out forwards;
    }

    /* Menu Links */
    .nav-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .nav-menu ul li {
        padding: 10px 20px 10px 0;
    }

    .nav-menu ul li a {
        color: #fca311;
        text-decoration: none;
        font-size: 18px;
    }

    /* Slide-in animation for the menu */
    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    /* Fun Bounce animation for the hamburger icon */
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
    }

    header .logo {
        display: none;
    }

    section.map-container {
        height: 350px;
    }

    #map {
        height: 300px;
    }

    .footer .footer h1, .footer p {
        padding-block: 0;
        margin-block: 0;
    }

}
