<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Groupie Trackers - Artists</title>
</head>
<body>
    <header>
        <h1>G<span>r</span>o<span>u</span>p<span>i</span>e <span>T</span>r<span>a</span>c<span>k</span>e<span>r</span>s</h1>
         <nav>
             <div class="nav-links">
                <a href="/">Home</a>
                <a href="/artists">Artists</a>
             </div>
             <div class="search">
                 <input type="text" id="search-bar" placeholder="Search for artists, members, year..." oninput="searchArtists(this.value)">
                 <div id="search-results"></div>
             </div>
             <div class="search-icon">
                 <i class="fa fa-search"></i>
             </div>
             <div class="hamburger">
                 <i class="fa fa-bars"></i>
             </div>
         </nav>
    </header>
    <main id="content">
        <h2>Artists</h2>
        <div id="artists-container">
            {{range .}}
            <a href="/artist/{{.ID}}">
                <!-- card 1 -->
                <div class="card">
                    <img src="{{.Image}}" alt="{{.Name}}" class="card-img">
                    <div class="card-overlay">
                        <h3>{{.Name}}</h3>
                    </div>
                </div>
            </a>
            {{end}}
        </div>
    </main>

    <div class="footer">
        <h1>G<span>r</span>o<span>u</span>p<span>i</span>e <span>T</span>r<span>a</span>c<span>k</span>e<span>r</span>s</h1>
        <p>&copy; 2024 Groupie Trackers. All rights reserved.</p>
        <p>Follow us on:
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </p>
    </div>

    <script src="/static/js/scripts.js"></script>
</body>
</html>
